@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #0f182f;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
}

body {
  font-family: 'Bricolage Grotesque', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
